<table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><a href="http://www.templatesfreelance.com/"><img src= <%= asset_path("rightBaner.jpg") %> alt="" width="192" height="334" border="0"></a></td>
            </tr>
          </table></td>