<td width="727">
		
		<table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="http://www.templatesfreelance.com/"><img src= <%= asset_path("bigBaner.gif") %> alt="" width="727" height="312" border="0"></a></td>
          </tr>
          <tr>
            <td height="38" class="topMenu LeftMenuHeader" >Featured Products<a href="http://www.templatesfreelance.com"><img src= <%= asset_path("spacer.gif")%> alt="" width="10" height="10" border="0"></a></td>
          </tr>
        </table>
		