<tr>
    <td height="38" class="menu">
	
	<div class="menuLs">
				<ul>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Home</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">News</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Reviews</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">How-To's </a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Downloads</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Shop & Compare</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Apps</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">Business Center</a></li>
				<li><a href="http://www.templatesfreelance.com/" id="WhiteColor">FAQ</a></li>
				</ul>
	</div>	</td>
  </tr>